<!DOCTYPE html>
<html>
    <body>
    <title>
        Team members
    </title>
    <link href="static/member.css", rel="stylesheet">
    <h1>
        Team Members
    </h1>
    <main>
        <article>
            <h2>Member number 1 : Shangyu Chen</h2>
            <ul>
                <li>
                Deploy the cloud server through Ansible
                </li>
                <li>
                Report
                </li>
                <li>
                Video
                </li>
            </ul>
            <h2>Member number 2 : Yuemin Huang</h2>
            <ul>
                <li>
                Analyse Twitter data and other datasets by Map and Reduce

                </li>
                <li>
                Report
                </li>
                <li>
                Video
                </li>
            </ul>
            <h2>Member number 3 : Zhixin Lin</h2>
            <ul>
                <li>
                Collecting the desired tweets by Twitter API and build cluster of Docker containers of CouchDB
                </li>
                <li>
                Report
                </li>
                <li>
                Video
                </li>
            </ul>
            <h2>Member number 4 : Xiyue Wang</h2>
            <ul>
                <li>
                Flask (web server framework), Data processing for front end
                </li>
                <li>
                Report
                </li>
            </ul>
            <h2>Member number 5 : Xiangxue Li</h2>
            <ul>
                <li>
                UI : front end
                </li>
                <li>
                Report
                </li>
            </ul>
        </article>

        <aside>
            <ul>
                <li>
                    <a href="home">Home Page</a>
                </li>
                <li>
                    <a href="analysis">Data Analysis</a>
                </li>
                <li>
                    <a href="member">Team Members</a>
                </li>
            </ul>
        </aside>
    </main>
</body>
</html>
